<!DOCTYPE html>
<html>
<head land="en">
    <title>Trash App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- <meta charset="UTF-8"> -->
    <script src="http://d3js.org/d3.v4.min.js" language="JavaScript"></script>
    <script src="historicalData.js" language="JavaScript"></script>

    <style type="text/css">
      /* 13. Basic Styling with CSS */

      /* Style the lines by removing the fill and applying a stroke */
      .line {
          fill: none;
          stroke: #ffab00;
          stroke-width: 3;
      }

      /* Style the dots by assigning a fill and stroke */
      .dot {
          fill: #ffab00;
          stroke: #fff;
      }

    </style>
</head>
<body>
  <center>
    <h1> Historical Data </h1>
    <br>
    <h4><a href="/">Current Fill Level</a> | <a href="/pickupTimes"> Estimated Pick up Times </a> | <a href="/historicalData"> Historical Data </a> </h4>
    <div>
      <img id=svg>
        <div id = "paperGraph" > </div>
      </img>
      <img id=svg>
        <div id = "alumGraph" > </div>
      </img>
      <img id=svg>
        <div id = "plasticGraph" > </div>
      </img>
      <img id=svg>
        <div id = "landfillGraph" > </div>
      </img>
    </div>
  </center>

  <script type="text/javascript">
    // 2. Use the margin convention practice 
    var print = {{paperData|tojson}};
    console.log(print)
    loadSVG("#paperGraph");
    loadSVG("#alumGraph");
    loadSVG("#plasticGraph");
    loadSVG("#landfillGraph");
  </script>

  </script>

</html>